/*Se importan las fuentes seleccionadas de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Skranji&display=swap');

/*Fuente, tamaño y alineación de los títulos principales de las páginas*/
#mainTitle{
    font-family: 'Skranji', cursive;
    font-size: 58px;
    text-align: center;
}

/*Fuente, tamaño y fondo de las páginas*/
body{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

/*A continuación se definen los estilos de los menús de navegación de las páginas*/
.menuNav{
    display: flex; /*Ayuda distribuir el espacio entre los ítems*/
    justify-content: center; /*Justifica los elementos en el centro*/
    align-items: center; /*Alinea los ítems en el centro*/
	margin: auto;
}

.menuInternal{
    display: flex;
    flex-direction: column; /*Coloca los ítems en formato de columna: Uno debajo del otro*/
    justify-content: left;
    align-items: left;
    margin: 5px 0px 30px 30px; /*Se definen los espacios entre las cajas cercanas*/
}

.menuInternal2{
    display: grid; /*Permite crear rejillas para organizar de mejor formalos elementos*/
    grid-template-columns: 450px 380px 380px; /*Se define tanto la cantidad de columnas como su tamaño*/
    grid-template-rows: 100px 100px 100px 100px; /*Se define tanto la cantidad de filas como su tamaño*/
    text-align: center; /*Centra el texto*/
    margin-right: 30px; /*Solo se define el margen derecho de la caja*/
    align-items: center;
}

/*A continuación se definen los estilos de los botones de las páginas*/
.buttonMenu{
	color: black; /*Color del texto*/
	text-align: center;
    background-color: #FBFF00; /*Se define el color de fondo de los botones*/
    padding:10px 10px 10px 10px; /*Se define los espacios internos de los elementos dentro de los botones*/
    margin-right: 20px; 
    border-radius: 20px; /*Las esquinas de los botones se redondean*/
    border: 4px solid black; /*Se genera un borde de color negro en el botón de linea solida con un ancho de 4px*/
}

.buttonInternal{
    width: 320px; /*Se define un ancho fijo del botón*/
	color: black;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);	
	text-align: left;
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 4px solid black;
}

.buttonInternal2{
	color: black;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);	
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    margin: 0px 20px 20px 20px;
    border: 4px solid black;
}

.buttonLink{
    color: black;	
	text-align: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    border: 4px solid black;
}

/*Se sobreescriben las acciones de los botones cuando el cursor pasa por encima de ellos*/
.buttonMenu:hover, .buttonLink:hover, .buttonInternal:hover{
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    cursor: pointer;
}

/*Centra las imagenes*/
.alignImages{
    text-align: center;
}

/*A continuación se definen los estilos de las imagenes utilizadas en la página web*/
#villetaPortada{
    width: 384px; /*Ancho de imagen fijo*/
    height: 512px; /*Altura de imagen fija*/
    text-align: center;
}

#villetaBandera, #festivalBandas, #altoCruz, #estacionTren{
    width: 797px;
    height: 397px;
    text-align: center;
}

#ceiba{
    width: 504px;
    height: 672px;
    text-align: center;
}

#cristoViejo, #vistaAltoCruz{
    width: 859px;
    height: 439px;
    text-align: center;
}

#festivalPanela, #saltoMicos{
    width: 534px;
    height: 771px;
    text-align: center;
}

#familiaCampesina, #sancochoGallina{
    width: 600px;
    height: 400px;
    text-align: center;
}

#panela, #tobogan{
    width: 800px;
    height: 600px;
    text-align: center;
}

.ImgPortada{
    width: 300px;
    height: 150px;
    border-radius: 20px;
    border: 4px solid black;
}

/*A continuación se definen los estilos para las referencias*/
.referencias{
    font-family: 'Skranji', cursive; /*Tipo de fuente especifica para esta sección*/
    font-size: 30px; /*Tamaño de fuente*/
    color: black;
    background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 4px solid black;
    margin: 0px 450px 0px 450px;
}

.buttonReferencias{
	color: black;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    border: 4px solid black;
}

.menuRef ul li{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#button-menu {
    display: none;
} 

/*Se definen los estilos de las etiquetas de encabezados y títulos de las páginas web*/
h2{
    font-family: 'Skranji', cursive;
    font-size: 42px;
}

h3{
    font-family: 'Skranji', cursive;
    font-size: 36px;
}

a:link {
	text-decoration: none; /*Quita el underline de los links*/
	color: black;
}

@media (max-width:800px){
    #button-menu:checked ~ .menuNav{
        margin: 1px;
    }

    .menuNav{
        position: absolute;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
		z-index: 10;
        width: 200px;
        padding: 5px;
        margin-left: -60%;
        transition: all 1s;
        flex-direction: column;
        border: 4px solid black;
        border-radius: 20px;
    }

    .buttonMenu{
        margin: 1px; 
    }

    .buttonInternal{
        width: 45%; /*Se redefine el ancho del botón*/
        text-align: center;
        margin-bottom: 10px;
    }

    .menuInternal2{
        display: flex;
        flex-direction: column;
    }

    .buttonInternal2{
        margin-bottom: 10px;
    }

    .referencias{
        font-size: 98%;
        margin: 0px 1px 0px 1px;
    }

    #mainTitle, h2, h3, body{
        font-size: 98%;
    }

    #villetaPortada, #DivisionVilleta, #EscudoVilleta, #VilletaLocation,
    #villetaBandera, #iglesiaAntigua, #BurroMatias, #cristoViejo, #hernandoBarahona,
    #ceiba, #festivalPanela, #festivalBandas, #familiaCampesina, #vistaAltoCruz,
    #altoCruz, #sancochoGallina, #saltoMicos, #estacionTren, #panela, #tobogan,
    #plazaMercado{
        width: 70%;
        height: 70%;
    }

    #LimitesVilleta{
        width: 95%;
    }

    .ImgPortada{
        width: 30%;
        height: 30%;
    }
}

