@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Skranji&display=swap');

#mainTitle{
    font-family: 'Skranji', cursive;
    font-size: 54px;
    text-align: center;
}

body{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.menuNav{
    display: flex;
    justify-content: center;
    align-items: center;
	margin: auto;
}

.menuInternal{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 5px 0px 30px 30px;
}

.menuInternal2{
    display: grid;
    grid-template-columns: 450px 380px 380px;
    grid-template-rows: 100px 100px 100px 100px;
    text-align: center;
    margin-right: 30px;
    align-items: center;
}

.buttonMenu{
	color: black;	
	text-align: center;
    background-color: #FBFF00;
    padding:10px 10px 10px 10px;
    margin-right: 20px;
    border-radius: 20px;
    border: 4px solid black;
}

.buttonInternal{
    width: 320px;
	color: black;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);	
	text-align: left;
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 4px solid black;
}

.buttonInternal2{
	color: black;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);	
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    margin: 0px 20px 20px 20px;
    border: 4px solid black;
}

.buttonMenu:hover, .buttonLink:hover, .buttonInternal:hover{
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    cursor: pointer;
}

.buttonLink{
    color: black;	
	text-align: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding:10px 10px 10px 10px;
    border-radius: 20px;
    border: 4px solid black;
}

.alignImages{
    text-align: center;
}

#villetaPortada{
    width: 384px;
    height: 512px;
    text-align: center;
}

#villetaBandera, #festivalBandas, #altoCruz, #estacionTren{
    width: 797px;
    height: 397px;
    text-align: center;
}

#ceiba{
    width: 504px;
    height: 672px;
    text-align: center;
}

#cristoViejo, #vistaAltoCruz{
    width: 859px;
    height: 439px;
    text-align: center;
}

#festivalPanela, #saltoMicos{
    width: 534px;
    height: 771px;
    text-align: center;
}

#familiaCampesina, #sancochoGallina{
    width: 600px;
    height: 400px;
    text-align: center;
}

#panela, #tobogan{
    width: 800px;
    height: 600px;
    text-align: center;
}

h2{
    font-family: 'Skranji', cursive;
    font-size: 42px;
}

h3{
    font-family: 'Skranji', cursive;
    font-size: 36px;
}

a:link {
	text-decoration: none;
	color: black;
}